.car-item-wrapper {
  border-radius: 1rem;
  box-shadow: 6px 5px 17px 2px rgb(54, 52, 52);
}

.car-picture {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: fill;
  width: 260px;
  max-width: 300px;
  height: 240px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

.bottom h2,
p {
  margin: 0;
}

.actions {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 426px) {
  .car-picture {
    width: 300px;
  }
}
